.post {
  width: 320px;
  margin: 1rem;
  border-radius: 3px;
  color: var(--darkest_gray-color);
  box-shadow: 2px 3px 5px #dbdbdb;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
  .post__img_wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 3px 3px 0 0;
      transition: all 0.2s;
    }
  }

  .post__content {
    padding: 1rem;

    .post__content__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 300;
      font-size: 14px;

      span {
        background: var(--orange-color);
        font-weight: 400;
        color: white;
        padding: 2px 5px;
      }
    }

    .post__content__title {
      margin: 10px 0;
      font-size: 23px;
      height: 70px;
      word-wrap: break-word;
    }

    .post__content__footer {
      p {
        font-weight: 300;
        font-size: 14px;
        display: flex;
        align-items: center;

        span {
          font-size: 16px;
          margin-left: 5px;
          color: var(--orange-color);
        }
      }
    }
  }
}
